body{margin:auto;width:900px;height:800px}
.a{width:450px;height:100px;background:orange;float:left}
.b{width:450px;height:100px;background:blue;float:left}
.c{width:900px;height:190px;background:red;float:left}
.d{width:900px;height:620px;background:yellow;float:left}
.e{width:900px;height:250px;background:gold;float:left}
.f{width:900px;height:300px;background:green;float:left}
.g{width:900px;height:500px;background:#3bfaef;float:left}
.h{width:900px;height:50px;background:silver;float:left}

a}
 p{font-size:20px; color:black; text-aling:jutify; font-family:catell
